Package             Version
------------------- -------------------
aniso8601           8.0.0
appdirs             1.4.4
astroid             2.3.3
backcall            0.1.0
bcrypt              3.2.0
blinker             1.4
certifi             2020.6.20
cffi                1.14.2
click               7.1.2
colorama            0.4.3
decorator           4.4.2
distlib             0.3.1
filelock            3.0.12
Flask               1.1.2
Flask-Bcrypt        0.7.1
Flask-JWT-Extended  3.24.1
Flask-Mail          0.9.1
flask-mongoengine   0.9.5
Flask-RESTful       0.3.8
Flask-WTF           0.14.3
ipykernel           5.1.4
ipython             7.13.0
ipython-genutils    0.2.0
isort               4.3.21
itsdangerous        1.1.0
jedi                0.16.0
Jinja2              2.11.2
jupyter-client      6.0.0
jupyter-core        4.6.3
lazy-object-proxy   1.4.3
MarkupSafe          1.1.1
mccabe              0.6.1
mongoengine         0.20.0
parso               0.6.2
pickleshare         0.7.5
pip                 20.2.2
pipenv              2020.8.13
prompt-toolkit      3.0.4
pycparser           2.20
Pygments            2.6.1
PyJWT               1.7.1
pylint              2.4.4
pylint-flask        0.6
pylint-plugin-utils 0.6
pymongo             3.11.0
python-dateutil     2.8.1
pytz                2020.1
pywin32             227
pyzmq               19.0.0
setuptools          49.6.0.post20200814
six                 1.15.0
tornado             6.0.4
traitlets           4.3.3
virtualenv          20.0.31
virtualenv-clone    0.5.4
wcwidth             0.1.8
Werkzeug            1.0.1
wheel               0.34.2
wincertstore        0.2
wrapt               1.11.2
WTForms             2.3.3
